@font-face {
    font-family: Lexend_Mega; /* Give a name to your font */
    src: url('Lexend_Mega/LexendMega-VariableFont_wght.ttf'); /* Specify the path to your font file */
  }
  *{
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: 'Lexend_Mega', sans-serif; /* Use the font */
    background-color: bisque;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh;
  }
  .name{
    background-color: white;
    justify-content: center;
    display: flex;
    padding: 4vh;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    font-size: 18px;
  }
  .intro{
    background-color: white;
    justify-content: center;
    display: flex;
    padding: 4vh;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    font-size: 18px;
    width: 40vw;
  }